img {
    height: 75%;
    width: 90%;
}

.images {
    border: solid black;
    height: 400px;
    width: 300px;
}

.hidden {
    display: none;
}

.big {
    /*height: auto;*/
}

.big img {
    height: 45%;
    width: 45%;
}

span {
    font-size: 17px;
}